<h1>Listing plow_jobs</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Resident</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plow_jobs.each do |plow_job| %>
  <tr>
    <td><%= plow_job.business_id %></td>
    <td><%= plow_job.resident_id %></td>
    <td><%= link_to 'Show', plow_job %></td>
    <td><%= link_to 'Edit', edit_plow_job_path(plow_job) %></td>
    <td><%= link_to 'Destroy', plow_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plow job', new_plow_job_path %>
